* {
    margin: 0;
    padding: 0;
}

.header-top {
    padding: 8px;
    background-color: #f2f1ee;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    text-decoration: none;
    font-family: sans-serif;
    color: #333331;
    margin-right: 20px;
}

.header-links a > i {
    margin-right: 5px;
}

.social-icons i {
    margin-right: 10px;
}