@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header-top {
    padding: 8px;
    background-color: #f2f1ee;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    text-decoration: none;
    color: #a7a731;
    margin-right: 20px;
}

.header-links a span {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: rgb(99, 97, 97);
}

.header-links a > i {
    margin-right: 7px;
}

.header-links a:hover, .header-links a span:hover {
    color: rgb(44, 43, 43);
}

.social-icons i {
    margin-right: 10px;
}

.logo {
    margin-top: 20px;
}

.logo img {
    height: 95%;
    width: 16%;
}